.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 960px) {
    .layout {
        height: auto;
        min-height: 100vh;
        overflow: visible;
    }
}
